.product-card {
  margin-top: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.product-card .card-title {
  color: #333;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 1rem;
}
.product-card .card-title.name {
  color: #410080;
}
.product-card .card-subtitle {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.product-card .carousel .carousel-inner {
  height: 200px;
  background-color: #888;
}
.product-card .carousel .carousel-inner .carousel-item {
  height: 100%;
}
.product-card .carousel .carousel-inner .carousel-item > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
