body {
  background-color: #ebebeb;
}

#okyContainer {
  margin-top: 60.48px;
  min-height: calc(100vh - 40px - 60.48px);
}

@media (max-width: 767px) {
  #okyContainer {
    min-height: calc(100vh - 64px - 60.48px);
  }
}
