#okyProduct .card {
  margin-top: 1rem;
}
#okyProduct .card-title {
  color: #333;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 1rem;
}
#okyProduct .card-title.name {
  color: #410080;
}
#okyProduct .card-subtitle {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
#okyProduct .carousel .carousel-inner {
  height: 400px;
  background-color: #888;
}
#okyProduct .carousel .carousel-inner .carousel-item {
  height: 100%;
}
#okyProduct .carousel .carousel-inner .carousel-item > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  #okyProduct {
    padding: 0 !important;
  }
  #okyProduct > .card {
    background-color: transparent;
    border: none;
  }
  #okyProduct > .card > .card-body {
    padding: 0;
  }
  #okyProduct .carousel .carousel-inner {
    height: 200px;
    background-color: #888;
  }
}
