#okyHeader.navbar,
#okySearch .input-group-append .btn {
  background-color: #410080 !important;
}
#okyHeader.navbar.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
#okySearch {
  width: 100%;
}
